body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

.login, .upload {
    max-width: 300px;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.upload {
    display: none;
}

input[type="text"], 
input[type="password"], 
input[type="file"], 
button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
}


.gallery {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}
#videoGallery video {
    width: 100%;
    max-width: 400px;
    margin: 10px;
}
